<ion-header>
  <ion-toolbar color=primary>
    <ion-title>
      <div class="flex-container">
        <label class="hiit-label">Settings</label>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitForm()">
    <ion-item class="flex-input-container">
      <ion-label>Exercise Interval (seconds)</ion-label>
      <ion-input class="hiit-input" clearInput=true [(ngModel)]="dataService.exerciseTime" name="exerciseTime"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Rest Period (seconds)</ion-label>
      <ion-input class="hiit-input" clearInput=true [(ngModel)]="dataService.restPeriod" name="restPeriod"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Number of Rounds</ion-label>
      <ion-input class="hiit-input" clearInput=true [(ngModel)]="dataService.numberOfSets" name="numberOfSets"></ion-input>
    </ion-item>
    <div class="button-flex">
      <ion-button (click)="resetValues()" block item-right>Cancel</ion-button>
      <ion-button type="submit" block item-right>Submit</ion-button>
    </div>
  </form>
</ion-content>
